<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="exchangeNetexStif" verbose="5">
   
   <test name="ImportNetexStif">
       <packages>
         <package name="mobi.chouette.exchange.netex_stif.importer" >
         </package>
       </packages>
   </test>
   <test name="ValidateNetexStif">
       <packages>
         <package name="mobi.chouette.exchange.netex_stif.validator" >
         </package>
       </packages>
   </test>
      
</suite>