<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Validation Phase 3" verbose="1">
   <test name="CheckPoints">
       <packages>
         <package name="mobi.chouette.exchange.validator.checkpoints" >
         </package>
       </packages>
   </test>
   <test name="Managment">
       <packages>
         <package name="mobi.chouette.exchange.validator" >
         </package>
       </packages>
   </test>
</suite> 
